* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #03131b;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: #03131b;

  .top-glow {
    position: absolute;
    top: -150px;
    width: 700px;
    height: 350px;
    background: #09d9ff;
    filter: blur(140px);
    opacity: 0.35;
    border-radius: 50%;
  }

  .bottom-glow {
    position: absolute;
    bottom: -180px;
    width: 700px;
    height: 350px;
    background: #09d9ff;
    filter: blur(140px);
    opacity: 0.25;
    border-radius: 50%;
  }

  .auth-container {
    position: relative;
    width: 420px;
    padding: 45px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.15);

    .logo {
      text-align: center;
      letter-spacing: 5px;
      font-size: 42px;
      margin-bottom: 20px;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 400;
    }

    form {
      .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          margin-bottom: 8px;
          color: #d6d6d6;
          font-size: 14px;
        }

        input {
          height: 50px;
          padding: 0 18px;
          border-radius: 12px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          background: transparent;
          color: white;
          outline: none;
          font-size: 15px;
          transition: 0.3s;

          &::placeholder {
            color: #b8b8b8;
          }

          &:focus {
            border-color: #09d9ff;
            box-shadow: 0 0 12px rgba(9, 217, 255, 0.5);
          }
        }
      }

      .forgot-password {
        text-align: right;
        margin-bottom: 25px;

        a {
          color: #ddd;
          text-decoration: none;
          font-size: 14px;

          &:hover {
            color: #09d9ff;
          }
        }
      }

      .auth-btn {
        width: 100%;
        height: 52px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-size: 18px;
        color: white;
        background: linear-gradient(90deg, #1fdcff, #1c8cff);
        transition: 0.3s;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 0 25px #00f7ff;
        }

        &:active {
          transform: scale(0.98);
        }
      }

      .switch-page {
        text-align: center;
        margin-top: 30px;
        color: #ddd;

        a {
          color: white;
          text-decoration: none;
          font-weight: 600;
          transition: 0.3s;

          &:hover {
            color: #09d9ff;
          }
        }
      }
    }
  }
}